.input {
  display: block;

  $this: &;

  &__label-title{
    display: block;
    font-size: 12px;
    line-height: 1;
    margin: 0 0 12px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: .1em;
  }

  &__control {
    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 16px;
    line-height: 20px;
    padding: 12px 20px;
    border: none;
    outline: none;
    border-radius: 6px;
    margin: 0 0 5px;

    &:last-child{
      margin: 0;
    }

    &::placeholder {
      font-family: inherit;
      font-size: 16px;
      line-height: 20px;
      color: rgba(0, 0, 0, .5);
    }
  }

  &--style {

    &--black-outline {
      color: #000;

      #{$this}__control{
        box-shadow: inset 0 0 0 1px #000;
        background-color: #fff;
        color: #000;

        &:focus {
          box-shadow: inset 0 0 0 2px #FEF100;
        }
      }
    }

    &--white-solid {
      color: #000;

      #{$this}__control{
        background-color: #fff;
        color: #000;

        &:focus {
          box-shadow: inset 0 0 0 2px #FEF100;
        }
      }
    }
  }
}