.btn{
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  padding: 12px 22px;
  outline: none;
  border: none;
  cursor: pointer;
  border-radius: 6px;
  background-color: transparent;

  &--size{

    &--sm{
      font-size: 11px;
      line-height: 15px;
      padding: 8px 15px;
    }
  }

  &--style{
    &--outline-black{
      color: #000;
      box-shadow: inset 0 0 0 2px #000;
      background-color: rgba(0,0,0,.1);

      &:hover{
        color: #fff;
        background-color: #000;
      }
    }

    &--outline-white{
      color: #fff;
      box-shadow: inset 0 0 0 2px #fff;

      &:hover{
        box-shadow: inset 0 0 0 2px #FEF100;
      }
    }

    &--solid-yellow{
      background-color: #FEF100;
      color: #000;
      border: none;

      &:hover{
        background-color: darken(#FEF100, 4%);
      }
    }

    &--solid-black{
      background-color: #222;
      color: #fff;
      border: none;

      &:hover{
        background-color: #000;
      }
    }
  }
}