.authors-list{

  &__item{
    display: flex;
    align-items: center;
    margin: 0 0 10px;

    &:last-child{
      margin: 0;
    }
  }

  &__name{
    font-size: 16px;
    font-weight: 600;
    flex: 1 0 auto;
    min-width: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0;
  }
}