.header{
  border-bottom: 2px solid #000;

  &__container{
    display: flex;
    align-items: center;
  }

  &__logo{
    margin: 0 auto 0 0;
  }

  &__user{
    margin: 0 30px;
    font-weight: bold;
  }
}