.courses{

  &__head{
    padding: 30px 35px;
    background-color: #000;
    border: 2px solid #000;
    display: flex;
    border-radius: 8px 8px 0 0;
  }

  &__list{
    margin: 0 0 30px;
  }

  &__search{
    flex: 1 0 auto;
  }

  &__create-btn{
    margin: 0 0 0 20px;
  }

  &__no-curses{
    margin: 0;
    font-size: 18px;
    font-weight: 700;
  }
}

.cards-list{
  padding: 30px 35px;
  border: 2px solid #000;
  border-radius: 0 0 8px 8px;
}