.course-form{
  padding: 30px 35px;
  border: 2px solid #000;
  border-radius: 8px;

  &__head{
    display: flex;
    align-items: end;
    flex-wrap: wrap;
    gap: 20px;
    border: none;
    padding: 0;
    margin: 0 0 30px;
  }

  &__input{
    margin: 0 0 15px;

    &:last-child{
      margin: 0;
    }

    &--title{
      flex: 0 1 50%;
      margin: 0 auto 0 0;
    }
  }

  &__textarea{

    &--description{
      flex: 1 0 100%;
    }
  }

  &__body{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    padding: 0;
    border: none;
    margin: 0;
  }

  &__group{
    padding: 30px 40px 40px;
    background-color: rgba(0,0,0,.03);
    border-radius: 8px;
    border: 1px solid rgba(0,0,0,.1);
  }

  &__group-title{
    font-size: 18px;
    font-weight: 700;
    margin: 0 0 20px;
  }

  &__author-list{
    padding: 24px 0 0;
  }
}